@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    background-color: hsl(0, 0%, 98%);
    justify-content: center;
    align-content: center;
    height: 100vh;
    padding: 80px;
    margin:0px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    color:hsl(234, 12%, 34%);
    margin-bottom:1.8rem;
    line-height: 100%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color:hsl(234, 12%, 34%);
    margin-top: 0px;
    margin-bottom: 2.5rem;
    line-height: 100%;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color:hsl(229, 6%, 66%);
}

.h5 {
    max-width: 32%;
    margin: auto;
}

.container {
    display: grid;
    margin:auto;
    max-width: 74rem;
    /* padding: 0rem 11rem 0rem 11rem; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    grid-template-areas: "left middle right";
}

/* .header {
    grid-area: header;
   } */

.left, .right {
    padding: 180px 0px 140px 0px;
}

.middle {
    padding-top:40px;
}

.card {
    background-color: white;
    max-width: 373.3px;
    min-height: 246px;
    padding: 34px;
    box-sizing: border-box;
    position: relative;
    top: 4px;
    border-radius: 0px 0px 8px 8px;
}

.spacer {
    height: 60px;
}
/*to eliminate overlaps*/


.card--cyan {
    /* background-color: hsl(180, 62%, 55%);
    width: 350px;
    height: 250px; 
    position: absolute;
    border-radius: 8px;
    display: flex; */
    border-top: 0.25rem solid hsl(180, 62%, 55%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 373.3px;
}

.card--red {
    /* background-color: hsl(0, 78%, 62%);
    width: 350px;
    height: 250px; 
    position: absolute;
    border-radius: 8px; */
    border-top: 0.25rem solid hsl(0, 78%, 62%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 373.3px;
    margin-bottom: 2rem;
}

.card--yellow {
    /* background-color: hsl(34, 97%, 64%);
    width: 350px;
    height: 250px; 
    position: absolute;
    border-radius: 8px; */
    border-top: 0.25rem solid hsl(34, 97%, 64%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 373.3px;
}

.card--blue {
    /* background-color: hsl(212, 86%, 64%);
    width: 350px;
    height: 250px; 
    position: absolute;
    border-radius: 8px; */
    border-top: 0.25rem solid hsl(212, 86%, 64%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 373.3px;
}

.card__title {
    font-family: 'Poppins';
    font-size: 1rem;
    color: hsl(234, 12%, 34%);
    font-weight:600;
    margin-bottom: 0.8rem;
}

.card__body {
    font-family: 'Poppins';
    font-size: 0.8rem;
    color:hsl(229, 6%, 66%);
    line-height: 200%;
}

.card__body p {
    margin: 0px;
}

.img {
    position: absolute;
    right: 34px;
    bottom: 34px;
}

@media (max-width: 800px) {
   
    body {
        padding: 6.13rem 2.67rem;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }

    h2 {
        font-size: 1.4rem;
        margin-bottom: 1.67rem;
    }

    h5 {
        font-size: 0.9rem;
        margin-bottom: 4.75rem;
    }
    
    .h5 {
        max-width: none;
        margin: auto;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:"left"
                            "middle"
                            "right";
        grid-gap: 1.3rem;
    }

    .left, .middle, .right {
        padding: 0px;
        margin: 0px;
    }

    .card {
         max-width: 373.3px;
        min-height: 246px;
        padding: 1.75rem;
        box-sizing: border-box;
        position: relative;
        top: 4px;
        border-radius: 0px 0px 8px 8px;
    }

    .card--cyan, .card--red, .card--yellow, .card--blue {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card--red {
        margin-bottom: 1.3rem;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
